
body {
    margin: 0 auto;
    width: 990px;
    text-align: center;
    line-height: 50px;
}

/* HEADER AND QUOTES */

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 7px grey;
}

#quote, #book {
    font-size: 30px;
    color: rgb(36, 29, 29);
    text-shadow: 3px 3px 8px black;
}

/* BUTTONS */

.button-container i {
    font-size: 70px;
    color: rgb(33, 114, 146);
    text-shadow: 3px 3px 10px black;
}

.button-container i:hover {
    color: rgb(111, 158, 177);
}

.button-container i:active {
    color: rgb(194, 80, 14);
    font-size: 68px;
}

.quote-container {
    margin-top: 10%;
    float: left;
    margin-left: 20%;
}

.tweet-container {
    margin-top: 10%;
    float: right;
    margin-right: 20%;
}

/* FOOTER */

.container-footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 990px;
}

footer {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Poor Story', cursive;
}

#quote, #book {
    color: black;
}