
body {
    margin-top: 5%;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Poor Story', cursive;
    text-align: center;
    background-color: #330088;
    background-size: cover;
    background-repeat: no-repeat;
}

.full-body {
    margin: auto;
    height: 100%;
    max-width: 500px;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    padding: 2em;
}

/* HEADER AND QUOTES */

.title {
    font-weight: 1000;
    font-size: 80px;
    letter-spacing: 5px;
}

#quote, #book {
    font-size: 40px;
    font-weight: 500;
    color: rgb(36, 29, 29);
}

/* BUTTONS */

.button-container {
    margin-top: 8%;
}

.button-container i {
    font-size: 70px;
    color: rgb(33, 114, 146);
    text-shadow: 3px 3px 10px black;
}

.button-container i:hover {
    color: rgb(111, 158, 177);
}

.button-container i:active {
    color: rgb(194, 80, 14);
    font-size: 68px;
}

.quote-container {
    float: left;
    margin-left: 20%;
}

.tweet-container {
    float: right;
    margin-right: 20%;
}

/* FOOTER */

.footer-container {
    display: flex;
    flex-flow: inherit;
    margin-top: 20%;
    text-align: justify;
    width: 990px;
}

footer p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
}

@media screen and (max-width: 400px) {
    .full-body {
        width: 400%;
        margin-left: 30%;
        font-size: 4em;
    }
}