
body {
    margin: 0 auto;
    width: 990px;
    text-align: center;
    line-height: 50px;
    background-image: url("https://images.unsplash.com/photo-1518006821190-bb4ad1d1f23d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=69dc3c8a93e1948dc48d7d0d4b7c1815&auto=format&fit=crop&w=1140&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* HEADER AND QUOTES */

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 70px;
    letter-spacing: 5px;
}

#quote, #book {
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    color: rgb(36, 29, 29);
}

/* BUTTONS */

.button-container i {
    font-size: 70px;
    color: rgb(33, 114, 146);
    text-shadow: 3px 3px 10px black;
}

.button-container i:hover {
    color: rgb(111, 158, 177);
}

.button-container i:active {
    color: rgb(194, 80, 14);
    font-size: 68px;
}

.quote-container {
    margin-top: 10%;
    float: left;
    margin-left: 20%;
}

.tweet-container {
    margin-top: 10%;
    float: right;
    margin-right: 20%;
}

/* FOOTER */

.container-footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 990px;
    padding-bottom: 10%;
}

footer {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Poor Story', cursive;
}

#quote, #book {
    color: black;
}